h1 {
    margin: 1em;
}

.question {
    display: inline-block;
    font-size: 20px;
    margin: 1em;
}

.pinyin {
    text-align: center;
    margin: 0 0 1em;
}

.kuohao {
    margin: 0;
}

@page {
    size: auto; /* 设置纸张大小 */
    margin: 0mm auto; /* 设置打印的边距 */
}